  <div id="weather_wrapper">
	<div class="weatherCard">
		<div class="currentTemp">
			<span class="temp">{{temperature}}&deg;</span>
			<span class="location">{{sensor}}</span>
		</div>
		<div class="currentWeather">
			<span id="weather-icon" class="conditions">
                <!-- Wenn "rain" true ist, zeige dieses Symbol -->
                <span *ngIf="rain">&#xf018;</span>
              
                <!-- Wenn "rain" false ist, zeige dieses Symbol -->
                <span *ngIf="!rain">&#xf00d;</span>
              </span>4
			<div class="info_top">
				<span class="humidity">{{humidity}} % </span>
				<span class="pressure">{{air_pressure}} hPa</span>
			</div>
            <div class="info_bottom">
                <span class="date"> {{formattedDate}}</span>
            </div>
		</div>
	</div>
</div>